/*
Theme Name:          Test Bitbucket
Theme URI:           http://drfragen.info/
Description:         Child-Theme of TwentyTwelve.
Author:              Andy Fragen
Template:            twentysixteen
Template Version:    1.1.1
Version:             0.5.0
Bitbucket Theme URI: https://bitbucket.org/afragen/test-bitbucket-child
Bitbucket Branch:    master
*/


#main-blog p img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
  margin-right: 1em;
  -webkit-box-shadow: 3px 3px 3px #666;
  -moz-box-shadow: 3px 3px 3px #666;
}

#main-blog p img.wp-smiley {
  display: inline;
  position: auto;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
/*
	body { min-width: 550px; }
	#content td>img { max-width: 75px; }
	#main, .singular.page .hentry { padding: 0;}
	.singular h1.entry-title { font-size: 24px; }
	.singular .entry-title { line-height: 1em; }
	#access a { line-height: 2em; }
	#site-generator { padding: 1em 0.5em; }
 */
	.entry-content p { padding: 1em; }
}
