/* The Events Calendar */

/* 
.tribe-events-calendar-buttons a { margin: 50px 0 0 10px; }
.tribe-events-month-nav { margin-top: 20px; padding-top: 10px;}
table.tribe-events-calendar { margin-top: 3em !important; }
#tribe-events-calendar-header {  }
 */

.tribe-events-event-list-meta td { background-color: transparent; }
li.tribe-events-adv-list-widget ol li {
  font-size: 0.8em;
  margin-bottom: 15px;
  line-height: 1.5em;
}
.tribe-events-widget-link { text-align: center; }

table.tribe-events-calendar { background-color: #fff; }

/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
	body { min-width: 550px; }
	.tribe-events-thismonth, .tribe-events-othermonth { min-width: 50px; max-width:60px; }
	#tribe-events-calendar-header { padding-top: 3em; }
	.tribe-events-calendar-buttons { top:0; left:0; }
	/* #tribe-events-event-meta .column { width: auto; } */
}

h2.tribe-events-page-title { color: green; }

/* 
li.tribe-events-list-widget-events h4.entry-title.summary a { font-size: 12px; }
li.tribe-events-list-widget-events h4.entry-title.summary { padding-right: 100px; line-height: 30px;}
.tribe-events-list-widget ol { margin:0; }
 */


/* .tribe-mini-calendar-event li.tribe-events-list-widget-event h2.tribe-events-category-meeting a { color: red; } */

/* .widget-area .widget a { color: red; } */
